html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background: #0f3d2e;
  color: #ccc;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}